$white: #ffffff;
$black: #000;
$de-york: #76C38F;
$silver-chalice: #acacac;
$mine-shaft: #313131;
$mine-shaft-bottom: #2b2b2b;
$mine-shaft-strong: #222222;
$cod-grey: rgba(25, 25, 25, 0.702);
$tundora: #4c4a4a;
$dove-gray: #6b6b6b;